/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	color: #888;
	font:300 small-caps italic 20px/35px sans-serif;
	background-color: #293f50;
}
 /* 
 ==========================================
 Grid 
 ==========================================
 */
 *,
 *:before,
 *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }
 .container,
 .grid{
	 margin: 0 auto;
	 width: 960px;

 }
 .container{
 
     padding-left: 30px;
	 padding-right: 30px;
}
 /* if say I was to create a 2 column structure and let's say 1 of the column is taking 2/3rd of the width and other one is taking 1/3rd,then we would have named it as col-2-3 instead of what we are writing it here i.e. col-1-3*/

 .col-1-3,
 .col-2-3 {
	 
	 display: inline-block;
 }
 .col-1-3{
	width: 33.33%;
 }
 .col-2-3{
	 width: 66.66%;
 }
 
 .grid,
 .col-1-3,
 .col-2-3{
	 padding-left: 15px;
	 padding-right: 15px;

 }
 /* 
 ====================================
 Clearfix
 ====================================
*/
.group:before,
.group:after {
	content:"";
	display:table;

}
.group:after{
	clear:both;
}
.group{
	clear:both;
	*zoom:  1;
}
 /* 
 ====================================
 Typography
 ====================================
*/
h1,h2,h3,h4{
    color: #648880;
}

h1,h3,h4,h5,p{
	margin-bottom: 30px;
}
h1{
	font-size:36px;
	line-height: 44px;
}
h2{
	font-size: 24px;
	line-height: 44px;
}
h3{
	font-size: 21px;
}
h4{
	font-size: 18px;
}
h5{
	color: #a9b2b9;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
strong{
	font-weight: 400;
}
cite,
em{
	font-style: italic;
}
/* 
=====================================
Links
=====================================
*/
a{
	color:rgb(255, 255, 255);
	text-decoration: none;

}
a:hover {
	color: rgb(54, 94, 179);
}

/* 
======================================
buttons
======================================
 */
.btn{
	border-radius: 5px;
	display: inline-block;
	margin: 0;
	color: #fff;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;

}

.btn-alt{
	border:1px solid #fff;
	padding:10px 30px;
}
.btn-alt:hover{
	background: #fff;
	color: #648880;
}
/* 
 ====================================
primary header
 ====================================
*/
.logo{
	float: left;
	border: 4px solid blueviolet;
	padding: 40px 0px 22px 0;
	font-size: 48px;
	line-height: 44px;
	float: left;
}
.tagline{
	margin: 66px 0 22px 0;
	text-align: right;
}
.primary-nav{
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5px;
	
}
/* 
 ====================================
primary footer
 ====================================
*/
.primary-footer small{
	float: left;
	padding-right: 45px;
	font-weight: 400;

}
.primary-footer{
	padding-top: 45px;
	padding-bottom: 45px;
	color: #648880;
	font-size: 14px;
}
/* 
 ====================================
Home
 ====================================
*/
.intro{
	line-height: 44px;
	padding:22px 80px 66px 80px;
	text-align: center;
	color: #fff;
}
.intro h2{
	font-size: 36px;

}

.intro p{
	font-size: 24px;

}
.teaser a:hover h3{
	color: #a9b2b9;
}
.nav{
	text-align:right;
	word-spacing: 10px;
}
.primary-header a,
.primary-footer a {
	color: white;
}
.primary-header a:hover,
.primary-footer a:hover{
	color: #648880;
}
.row{
	background-color: white;
	min-width: 960px;
	padding:66px 0 44px 0;
}
form{
	margin-bottom: 22px;
}
input,
select,
textarea{
	font:300 small-caps italic 20px/35px sans-serif;
}